body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e3f2f3;
    color: #ffffff;

}
.conteiner{
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background-color: #000000;
}

.conteiner header{
    color: #b2b2b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

header h2{
    font-size: 1.6rem;
}

header .colunm{
    display: flex;
    align-items: center;
}

header .colunm span{
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}

.volume-slader input{
 accent-color: #ffffff;
}

.key-check input{
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 30px;
    background-color: #4f4f4f;
    cursor: pointer;
    position: relative;
}

.key-check input::before{
    content: "";
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    border-radius: inherit;
    top: 50%;
    left: 0.3rem;
    transform: translateY(-50%);
    transition: all 0.3s ease;

}
.key-check input:checked::before{
    left: 2.1rem;
    background-color: #2a4ff5;
}

.piano-keys{
    display: flex;
    margin-top: 40px;
}

.piano-keys .key{
    cursor: pointer;
    user-select: none;
    list-style: none;
    color: #a2a2a2;
    position: relative;
    text-transform: uppercase;

}

.piano-keys .white{
    width: 70px;
    height: 230px;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 8px;
}

.piano-keys .black{
    width: 45px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border: 1px solid #ffffff;
    background:linear-gradient(#333,#000000);
    border-radius: 0 0 5px 5px;
}

.piano-keys span{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.13rem;
}
.piano-keys .white.active{
    box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom #b1adad 0%, #3b3a3a 100%);
}

.piano-keys .black.active{
    box-shadow: inset -5px 5px 10px rgba(255,255,255,0.1);
    background: linear-gradient(to bottom #fff 0%, #eee 100%);
}

.piano-keys .key.hiden span{
    display: none;
}
